html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #ff0057, #2196f3);
}

h2{
  position: relative;
  display: flex;
  gap: 5px;
  color: #fff;
  /* font-size: 4em; */
  cursor: pointer;
}

h2 span{
  position: relative;
  filter: blur(5px);
  padding: 0 5px;
  transition: 0.5s;
}

h2 span:hover{
  filter: blur(0px);
  transition: 0;
}

h2 span i{
  position: absolute;
  inset: 0;
  background: #f00;
  background: transparent;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;